/* Root variables for theme colors, padding, and font styles */
:root {
    --primary-color: #222831; /* Primary color for main elements */
    --attrib-color: #393E46; /* Secondary attribute color */
    --primary-color-highlight: #222831; /* Highlight color for hover effects */
    --bs-body-bg: #ffffff; /* Body background color */
    --bs-body-bg-transparent: rgba(128, 128, 128, 0.75);
    --bs-body-box-shadow: rgba(0, 0, 0, .4);
    --bs-body-font-family: 'Lato', sans-serif; /* Font family for body */
    --accent-color: #00ADB5; /* Accent color used in buttons, links */
    --main-text-color: #ffffff; /* Primary text color */
    --main-text-color-invers: #000000; /* Inverse text color */
    --secondary-color-highlight: #FFC400; /* Highlight color for hover effects */
}

html {
    height: 100%;
    margin: 0; 
    padding: 0; 
}

body {
    background-size: cover;
    color: var(--bs-body-bg);
    font-family: var(--bs-body-font-family);
    margin: 0; 
    padding: 0;
    overflow-x: hidden; 
}

p {
    margin-bottom: 1rem;
}

.category-links a {
    text-decoration: none; 
    color: var(--main-text-color); 
    transition: color 0.3s ease, transform 0.2s ease;
}

.category-links a:hover {
    color: var(--secondary-color-highlight);
    text-decoration: underline;
    transform: scale(1.10);
}

.product-image {
    max-width: 400px;
    height: auto;
    margin: 0 auto;
    display: block;
}

.nav-link-index:hover {
    color: #FFD700 !important;
    text-decoration: underline;
    transform: scale(1.1); /* Slightly enlarge the item */
    transition: color 0.3s ease, transform 0.2s ease; /* Smooth transition */
}

.nav-link-index {
    text-decoration: none; 

    transition: color 0.3s ease, transform 0.2s ease; /* Add smooth effect to normal state */
}

.cart-box {
    display: inline-block;
    padding: 10px;
    border: 1px solid var(--attrib-color);
    border-radius: 0px;
    background-color: var(--bs-body-bg);
    transition: background-color 0.3s, border-color 0.3s;
}

.cart-box:hover {
    background-color: var(--bs-body-bg);
    border-color: var(--primary-color-highlight);
}

.cart-box .nav-link {
    color: inherit;
}

/* Styling to invert colors on hover */
.cart-link {
    color: var(--main-text-color);
}

.cart-link:hover {
    color: var(--main-text-color-invers);
}

.cart-link .badge {
    background-color: var(--main-text-color);
    color: var(--main-text-color-invers);
}

.cart-link:hover .badge {
    background-color: var(--main-text-color-invers);
    color: var(--main-text-color);
}

.astroshop-container {
    position: relative;
    width: 100%;
}

.astroshop-image {
    position: relative;
    width: 100%;
    height: 600px;    
    overflow: hidden;
}

.astroshop-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

.image-text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    color: var(--main-text-color);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);    
    padding: 20px;
    border-radius: 8px;
    width: 80%;    
}

.image-text-overlay p {
    text-align: left;
    margin: 0;
    font-size: 1.25rem;
    color: var(--bs-body-bg);
}

.shop-now-button {
    font-size: 1.25rem;    
    max-width: 333px;
    min-width: 260px;
    margin: 0 auto;
    background: var(--main-text-color);
    color: var(--main-text-color-invers);    
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

@media (max-width: 768px) {
    .image-text-overlay p {
        font-size: 0.8rem;
        /* Smaller font size for mobile devices */
    }

    .product-image {
        max-width: 200px;
        /* Cap the image width */
    }
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Set consistent font size for product name */
.product-name {
    font-size: 1.25rem;
    /* Adjust as needed */
    font-weight: bold;
}

/* Set consistent font size for product price */
.product-price {
    font-size: 1.5rem;
    /* Adjust as needed */
    color: var(--main-text-color-invers);
}

.icon-white {
    color: var(--main-text-color);
    transition: color 0.3s ease;
    /* Smooth transition effect */
}

.icon-white:hover {
    color: var(--bs-body-bg);
    /* Light gray on hover */
}

/* Inverse hover effect for navigation links and Shop Now button */
.navbar-nav .nav-link:hover,
.navbar-nav .dropdown-item:hover,
.navbar .btn:hover,
.shop-now-button:hover {
    background-color: var(--main-text-color-invers) !important;
    color: var(--main-text-color) !important;
}

/* Optional: Smooth transition */
.navbar-nav .nav-link,
.navbar .btn,
.navbar-nav .dropdown-item,
.shop-now-button {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.strike-through {
    text-decoration: line-through;
}

.wider-input input {
    width: 120%;
}


.fixed-width-label {
    width: auto;
}

.transparent-gray-bg {
    background-color: var(--bs-body-bg-transparent);
}

.shrink-image {
    transform: scale(0.9);
}

.btn-black {
    background: var(--main-text-color-invers);
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: var(--main-text-color-invers);
    color: var(--main-text-color);
}

.text-black {
    color: var(--main-text-color-invers) !important;
}

.border-black {
    border: 1px solid var(--main-text-color-invers) !important;
}

.bg-black {
    background: var(--main-text-color-invers) !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
    background: var(--main-text-color);
    z-index: -1;
}

a.category-badge>span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}

/* Hamburger menu */
#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    left: 0 !important;
}

.menu__btn {
    position: fixed;
    top: 15px;
    left: 25px;
    width: 20px;
    height: 20px;
    z-index: 1000;
    background-color: var(--main-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    /* Smooth hover transition */
}

.menu__btn:hover {
    background-color: #adadad;
    transform: scale(1.1);
}

.menu__btn span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #333;
    position: relative;
    transition: background-color 0.3s ease;
}

.menu__btn span::before,
.menu__btn span::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #333;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.menu__btn span::before {
    top: -6px;
}

.menu__btn span::after {
    top: 6px;
}

.menu__btn:hover span,
.menu__btn:hover span::before,
.menu__btn:hover span::after {
    background-color: var(--accent-color);
}

.menu__btn:hover span::before {
    transform: translateY(2px);
}


.menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    z-index: 999;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: var(--bs-body-font-family);
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

.font-head {
    color: var(--main-text-color);
    font-size: 75px;
}

.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.no-bullets li {
    margin-bottom: 0;
}

.hover-effect:hover {
    color: var(--accent-color);
    background-color: rgba(0, 123, 255, 0.1);
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

.hover-effect i {
    transition: transform 0.3s;
}

.hover-effect:hover i {
    transform: scale(1.2);
    color: var(--accent-color);    
}

.hover-bg {
    background-color: var(--main-text-color);
    color: var(--main-text-color-invers);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.hover-bg:hover {
    background-color: var(--main-text-color-invers);
    color: var(--main-text-color);
}

.account-cart {
    display: none;
    z-index: 999;
}

@media (max-width: 500px) {
    .menu__box {
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        background-color: var(--main-text-color);
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        z-index: 999;
        transition: left 0.25s ease-in-out;
    }

    .menu__item {
        padding: 12px 24px;
        font-size: 20px;
        color: #333;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }

    .menu__item:hover {
        background-color: #CFD8DC;
    }

    #menu__toggle:checked~.menu__box {
        left: 0;
    }

    .navbar {
        display: none;
    }

    #main-nav {
        display: none;
    }

    .hamburger-menu {
        display: block;
        padding: 5px;
        background-color: var(--main-text-color);
    }

    .table-responsive {
        overflow-x: auto;
        /* Enable horizontal scrolling */
        -webkit-overflow-scrolling: touch;
        /* Smooth scrolling on touch devices */
        border: 1px solid var(--bs-body-bg);
        /* Optional: Add border for better visibility */
    }

    table {
        min-width: 700px;
        /* Ensure the table is wider than the viewport */
        white-space: nowrap;
        /* Prevent text from wrapping */
    }

    th,
    td {
        font-size: 14px;
        /* Adjust font size for smaller screens */
        padding: 8px;
        /* Reduce padding */
    } 

    h1,
    h2 {
        font-size: 1.5rem;
        /* Adjust heading sizes */
    }

    .cart-box h2,
    .cart-box.nav-link,
    .cart-box.nav-link.hover-bg {
        display: none;
        /* Hide the h2, nav-link, and hover-bg */
    }

    .product-image {
        max-width: 150px;
        /* Cap the image width */
    }
}

/* Media query for screens smaller than or equal to 991px */
@media (max-width: 991px) {
    .account-cart {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
    }

    .banner-head {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .font-head {
        font-size: 30px;
    }

    .logo-font {
        font-size: 1.85rem;
        /* Font size for screens up to 991px */
        text-align: center;
    }

    /* Hide the navbar on small screens */
    .navbar {
        display: none;
        /* Hide the default navbar */
    }

    /* Show hamburger menu button */
    .hamburger-menu {
        display: block;
    }

    /* Hide main navigation by default */
    #main-nav {
        display: none;
        transition: max-height 0.3s ease-in-out;
        overflow: hidden;
    }

    /* Show the navbar when the hamburger menu is checked */
    #menu__toggle:checked~.menu__box {
        left: 0;
    }

    /* Make the menu appear when hovering over hamburger */
    .hamburger-menu:hover+.menu__box {
        left: 0;
    }

    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        /* Hide menu off-screen */
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: var(--attrib-color);
        box-shadow: 2px 2px 6px var(--bs-body-box-shadow);
        transition: left 0.25s ease;
        /* Smooth transition */
        z-index: 999;
        /* Ensure menu overlays all other elements */
    }

    .menu__item {
        display: block;
        padding: 12px 24px;
        color: var(--attrib-color);
        font-family: var(--bs-body-font-family);
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }

    .menu__item:hover {
        background-color: var(--primary-color-highlight);
    }
}

/* Media query for screens larger than 992px */
@media (min-width: 992px) {

    /* Hide hamburger menu on larger screens */
    .hamburger-menu {
        display: none;
    }

    /* Show the navbar on larger screens */
    .navbar {
        display: block;
    }

    /* Ensure the menu is visible (you can customize this if needed) */
    #main-nav {
        display: flex;
        /* Or any other display style depending on your layout */
    }

    .menu__box {
        display: none;
        /* Hide hamburger menu by default */
    }
}