{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us ...</h1>
            <br>
            <p class="lead fw-normal text-white-40 mb-2">Welcome To Astro Shop E-commerce ...</p>
        </div>
    </div>
</header>



<div class="container d-flex justify-content-center align-items-center mt-3 mb-3" style="min-height: calc(60vh);">
    <div class="card shadow-lg rounded-0 mb-3 p-3">
        <p class="p-4">
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
            <br>
            Lorem ipsum odor amet, consectetuer adipiscing elit. Fermentum lacinia tortor mollis iaculis,
            feugiat neque eleifend. Nostra dolor ad aptent consectetur curae morbi augue eget ad. Ridiculus
            finibus fames et sollicitudin ridiculus justo. Aliquam fringilla justo mus enim tincidunt tortor.
            Congue eleifend dignissim fermentum taciti sit malesuada.<br /><br />
            Etiam gravida non orci eget vestibulum. Donec et tristique massa, at laoreet nisl. Sed lobortis est
            massa, a blandit nibh tincidunt eu. Nam at tortor egestas, suscipit justo blandit, ultrices nisl.
            Phasellus imperdiet placerat eros, sed fermentum mi scelerisque id. Duis dignissim leo eu orci
            sodales mattis. Suspendisse nisl velit, tristique eget ante nec, egestas scelerisque metus. In
            pellentesque odio purus, vitae scelerisque massa sodales sit amet. Ut ex augue, elementum sed luctus
            a, facilisis et dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
            inceptos himenaeos. Etiam mauris sapien, malesuada id hendrerit sed, accumsan nec nunc. Fusce
            consectetur, metus ac suscipit varius, nulla ante scelerisque tellus, ut pretium dui velit at
            lectus. Suspendisse sem nunc, viverra tempus venenatis sit amet, mattis a nibh. Nulla pretium dictum
            ipsum, eget placerat urna semper id.
            <br>
            Hendrerit turpis facilisis laoreet dapibus eget hac. Curae conubia mi eget natoque parturient lectus
            consequat.
        </p>
        <!-- Centered Button -->
<div class="d-flex justify-content-center mb-4">


    <a href="{% url 'products' %}" class="btn btn-secondary">Back To Products</a>
</div>
    </div>

</div>



{% endblock %}