{% extends 'base.html' %}
{% block content %}

<!-- Header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-4">
        <div class="text-center text-white">
            <br>
            <h1 class="display-4 fw-bolder mt-5">Add New Supplier</h1>
            <p class="lead fw-normal text-white-40 mb-2">Enter a New Supplier</p>
        </div>
    </div>
</header>

<div class="container d-flex justify-content-center align-items-center" style="min-height: calc(60vh);">
    <div class="p-4 mt-3 shadow-lg" style="width: 100%; max-width: 850px;">    
        <form method="POST" class="text-start mt-4">
            {% csrf_token %}
            {{ form.as_p }}
                <div class="d-flex justify-content-around mt-3 mb-3">
                    <button type="submit" class="btn btn-success">Save Supplier</button>
                    <a href="{% url 'suppliers_list' %}" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}