{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Add New Product</h1>
            <p class="lead fw-normal text-white-50 mb-0">Administrator Update Page ...</p>
        </div>
    </div>
</header>



<div class="container d-flex justify-content-center align-items-center mt-3 mb-3" style="min-height: calc(60vh);">
    <div class="p-4  shadow-lg" style="width: 100%; max-width: 850px;">


        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row mb-2 border-1">
                <label for="name" class="col-sm-3 col-form-label">Product Name</label>
                <div class="col-sm-9">
                    {{ form.name }}
                </div>
            </div>
            <div class="row mb-2">
                <label for="price" class="col-sm-3 col-form-label">Price</label>
                <div class="col-sm-9">
                    {{ form.price }}
                </div>
            </div>
            <div class="row mb-2">
                <label for="category" class="col-sm-3 col-form-label">Category</label>
                <div class="col-sm-9">
                    {{ form.category }}
                </div>
            </div>
            <div class="row mb-2">
                <label for="description" class="col-sm-3 col-form-label">Description</label>
                <div class="col-sm-9">
                    {{ form.description }}
                </div>
            </div>
            <div class="row mb-2">
                <label for="image" class="col-sm-3 col-form-label">Image</label>
                <div class="col-sm-9">
                    {{ form.image }}
                </div>
            </div>
            <div class="row mb-2">
                <label for="is_sale" class="col-sm-3 col-form-label">Is Sale</label>
                <div class="col-sm-9">
                    {{ form.is_sale }}
                </div>
            </div>
            <div class="row mb-2">
                <label for="sale_price" class="col-sm-3 col-form-label">Sale Price</label>
                <div class="col-sm-9">
                    {{ form.sale_price }}
                </div>
            </div>
        </form>
        
        

        <div class="mt-3 mb-3">

        <button type="submit" class="btn btn-success">Add Product</button>
        <a href="{% url 'home' %}" class="btn btn-secondary ml-3">Cancel</a>

        </div>


    </div>
</div>


{% endblock %}