{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-4">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder mt-5">Privacy Policy</h1>
            <p class="lead fw-normal text-white-40 mb-2">Home / Privacy Policy</p>
        </div>
    </div>
</header>

<div class="container d-flex justify-content-center align-items-center mt-3 mb-3" style="min-height: calc(60vh);">
    <div class="card shadow-lg rounded-0 mb-3 p-3" style="width: 700px;">

        <h2 class="text-center mb-3"><strong>Privacy Policy voor Urania Diensten</strong></h2>
        <p>Eigenaar van <strong>www.astroshopurania.be</strong></p>

        <h4 class="mt-3"><strong>1. Waarborgen Privacy:</strong></h4>
        <p>
            Het waarborgen van de privacy van bezoekers van www.astroshopurania.be is een belangrijke taak voor Urania Diensten. Daarom beschrijven we in deze privacy policy welke informatie we verzamelen en hoe we deze informatie gebruiken.
        </p>

        <h4 class="mt-3"><strong>2. Toestemming:</strong></h4>
        <p>
            Door de informatie en de diensten op www.astroshopurania.be te gebruiken, gaat u akkoord met deze privacy policy en de voorwaarden die hierin zijn opgenomen.
        </p>

        <h4 class="mt-3"><strong>3. Vragen:</strong></h4>
        <p>
            Als u meer informatie wilt ontvangen, of vragen hebt over de privacy policy van Urania Diensten of specifiek van www.astroshopurania.be, kunt u Urania contacteren via e-mail. Het e-mailadres is <a href="mailto:info@urania.be">info@urania.be</a>.
        </p>

        <h4 class="mt-3"><strong>4. Informatie:</strong></h4>
        <p>
            De informatie die Urania van de gebruiker van de website www.astroshopurania.be verzamelt beperkt zich tot naam, adres, e-mailadres en telefoonnummer.
        </p>

        <h4 class="mt-3"><strong>5. Aanwending van de informatie:</strong></h4>
        <p>
            Urania Diensten verbindt zich ertoe de informatie die de gebruiker verstrekt door gebruik te maken van de website www.astroshopurania.be uitsluitend aan te wenden in het kader van de verkoop van producten van Urania Diensten. Urania Diensten zal deze informatie niet voor promotionele of andere doeleinden aanwenden.
        </p>

        <h4 class="mt-3"><strong>6. Monitoren gedrag bezoeker:</strong></h4>
        <p>
            www.astroshopurania.be kan gebruik maken van verschillende technieken om bij te houden wie de website bezoekt, hoe de bezoeker zich op de website gedraagt en welke pagina’s worden bezocht. Dat is een gebruikelijke manier van werken voor websites omdat het informatie oplevert die bijdraagt aan de kwaliteit van de gebruikerservaring. De informatie die via cookies geregistreerd kan worden bestaat uit onder meer IP-adressen, het type browser en de bezochte pagina’s.
        </p>

        <h4 class="mt-3"><strong>7. Gebruik van cookies:</strong></h4>
        <p>
            www.astroshopurania.be plaatst cookies bij bezoekers. Dat heeft tot doel informatie te verzamelen over de pagina’s die gebruikers op de website bezoeken, om bij te houden hoe vaak bezoekers terugkomen en om te zien welke pagina’s het goed doen op de website.
        </p>

        <h4 class="mt-3"><strong>8. Cookies uitschakelen:</strong></h4>
        <p>
            U kunt ervoor kiezen om cookies uit te schakelen. Dat doet u door gebruik te maken van de mogelijkheden van uw browser. U vindt meer informatie over deze mogelijkheden op de website van de aanbieder van uw browser.
        </p>

        <h4 class="mt-3"><strong>9. Cookies van derde partijen:</strong></h4>
        <p>
            Het is mogelijk dat derde partijen, zoals Google, op onze website adverteren of dat wij gebruik maken van een andere dienst. Daarvoor plaatsen deze derde partijen in sommige gevallen cookies. Deze cookies zijn niet door Urania Diensten of door www.astroshopurania.be te beïnvloeden.
        </p>

        <h4 class="mt-3"><strong>10. Privacy policy van adverteerders/derde partijen:</strong></h4>
        <p>
            Voor meer informatie over de privacy policy van onze adverteerders en derde partijen die verbonden zijn aan deze website, kunt u terecht op de websites van deze respectieve partijen. Urania Diensten of www.astroshopurania.be kan geen invloed uitoefenen op deze cookies en de privacy policy van door derden geplaatste cookies. Deze cookies vallen buiten het bereik van de privacy policy van www.astroshopurania.be.
        </p>

        <div class="d-flex justify-content-center mt-3">
            <a href="{% url 'home' %}" class="btn btn-secondary">Back To Home</a>
        </div>
    </div>
</div>

{% endblock %}
