{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="{{ product.image.url }}">
            </div>



            <div class="col-md-8">
                <div class="card-body ">
                    <div>
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text justified">{{ product.description }}</p>

                        {% if product.is_sale %}
                        <div class="d-flex justify-content-center small text-warning mb-2">
                            <div class="fa-regular fa-star"></div>

                            <strong style="font-size: 1.25rem;">Sale!</strong>
                            <div class="fa-regular fa-star"></div>
                        </div>
                        {% endif %}

                        
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="card border-1">

        <div class="d-flex justify-content-around">
            <!-- Product price or sale price -->
            <div>
                {% if product.is_sale %}

                <div class="text-muted" style="text-decoration: line-through;">€{{ product.price }}
                </div>

                <strong class="text-black" style="font-size: 1.5rem;">€{{ product.sale_price }}
                </strong>


                {% else %}
                <strong class="text-black" style="font-size: 2rem;">€{{ product.price }}</strong>
                {% endif %}
            </div>

            <!-- Quantity selector -->
            <div class="mt-3">Quantity:                
                    <select class="form-select form-select-sm" id="qty-cart">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
            </div>

            <!-- Centered buttons container with added margins -->
            <div class="d-flex justify-content-center">
                <button type="button" value="{{ product.id }}" class="btn btn-secondary mt-2 mb-2 me-2 mr-2" id="add-cart">
                    Add To Cart
                </button>
            
                <!-- Display Delete & Edit buttons if User is Superuser -->
                {% if user.is_superuser %}
                    <a href="{% url 'delete_product_confirmation' product.id %}" class="btn btn-danger mt-2 mb-2 mr-2 me-2">
                        Delete Product
                    </a>
                    <a href="{% url 'update_product' product.id %}" class="btn btn-warning mt-2 mb-2">
                        Edit Product
                    </a>
                {% endif %}
            </div>
            
        </div>
    </div>

    <script>
        // Check if button pressed
        $(document).on('click', '#add-cart', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'shopcart_add' %}",
                data: {
                    product_id: $('#add-cart').val(),
                    product_qty: $('#qty-cart option:selected').text(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
                success: function (json) {
                    document.getElementById("cart_quantity").textContent = json.qty
                    location.reload();
                },
                error: function (xhr, errmsg, err) {
                    // Handle error
                }
            });
        })
    </script>
    {% endblock %}