{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}

<!-- Header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Checkout</h1>
            <p class="lead fw-normal text-white-50 mb-0">Review Your Order...</p>
        </div>
    </div>
</header>


<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <!-- Order Summary Card -->
            <div class="card">
                <div class="card-header">
                    Order Summary
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in cart_products %}
                            <tr>
                                <td>{{ product.name }}</td>
                                <td>
                                    {% if product.is_sale %}
                                        €{{ product.sale_price }}
                                    {% else %}
                                        €{{ product.price }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% for key, value in quantities.items %}
                                        {% if key == product.id|slugify %}
                                            {{ value }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    €{{ product|calculate_subtotal:quantities|floatformat:2 }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr class="product-price">
                                <th colspan="3" class="text-end ">Total:</th>
                                <th>€{{ totals }}</th>
                            </tr>
                        </tfoot>
                    </table>
                    <a href="{% url 'shopcart_summary' %}" class="btn btn-sm btn-outline-secondary">Update Items</a>
                </div>
            </div>


            <br />

            <!-- Shipping Info Card -->
            <div class="card">
                <div class="card-header">
                    Shipping Info
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'billing_info' %}">
                        {% csrf_token %}
                        {{ shipping_form.as_p }}
                        <button type="submit" class="btn btn-secondary mt-3">
                            Continue To Billing
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}