{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-4">
        <div class="text-center text-white">
            <br>
            <h1 class="display-4 fw-bolder mt-5">Product Details</Details>
            </h1>
            <p class="lead fw-normal text-white-40 mb-2">Details ...</p>
        </div>
    </div>
</header>

<div class="container d-flex justify-content-center align-items-center mt-3 mb-3" style="min-height: calc(60vh);">
    <div class="row shadow-lg" style="width: 100%; max-width: 600px;">

        <div class="col-md-12 mt-3">
            <div class="card mb-3">
                <div class="card-header">
                    Check Order {{ order.id}} - <strong>€{{order.amount_paid}}</strong>  
                </div>
                <div class="card-body">
                   
                    <div class="container d-flex justify-content-center align-items-center mt-3 mb-3">
                        <div class="card shadow-sm p-3">
                            <div class="card-body">
                                <h5 class="card-title text-lg-left">Order Details</h5>
                                
                                <p class="card-text">
                                    {% if order.date_shipped %}
                                        <strong>Date Shipped:</strong> {{ order.date_shipped }}
                                    {% else %}
                                        <strong>Date Ordered:</strong> {{ order.date_ordered }}
                                    {% endif %}
                                </p>
                    
                                <p class="card-text">
                                    <strong>Email:</strong> {{ order.email }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="container d-flex justify-content-center align-items-center mt-3 mb-3">
                        <div class="card shadow-sm p-3" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title text-center">Shipping Information</h5>
                                
                                <p class="card-text">
                                    <strong>Name:</strong> {{ order.full_name }}
                                </p>
                                
                                <p class="card-text">
                                    <strong>Address:</strong> 
                                    <small>{{ order.shipping_address }}</small>
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <table class="table table-bordered table-striped text-center mt-3">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                            <tr>
                                <td>{{ item.product }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>${{ item.price }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                    <br /><br />
                    {% if not order.shipped %}
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="shipping_status" value="true">
                        <button type="Submit" class="btn btn-success">Mark As Shipped</button>
                        </from>

                        {% else %}
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="shipping_status" value="false">
                            <button type="Submit" class="btn btn-danger">Mark As Not Shipped</button>
                            </from>

                            {% endif %}

                </div>
            </div>
            <br>
            <br />
        </div>
    </div>
</div>


{% endblock %}