{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Payment Update Info</h1>
            <p class="lead fw-normal text-white-50 mb-0">Payment User Info...</p>
        </div>
    </div>
</header>

<div class="container d-flex justify-content-center align-items-center mt-3 mb-3" style="min-height: calc(60vh);">
    <div class="row shadow-lg" style="width: 100%; max-width: 500px;">
        <div class="text-center col-md-12 mt-3">



            <form method="POST" action="{% url 'update_payment_paypal' %}" class="mt-2">
                {% csrf_token %}

                <strong class="text-black">Payment Information</strong>
                {{ payment_form.as_p }}
           
                <button type="submit" class="btn btn-secondary mt-3 mb-3">
                    Update Payment
                </button>



            </form>
        </div>
    </div>
</div>

{% endblock %}